mycroft-messagebus-client>=0.9.1
requests~=2.23.0
beautifulsoup4~=4.9
lxml~=4.5
pendulum~=2.1
geopy~=2.1.0
timezonefinder~=5.2
netifaces~=0.10
filelock~=3.0
nltk~=3.5
ruamel.yaml~=0.16
pydub~=0.25
fastlang==0.0.4
langdetect~=1.0
translate
boto3~=1.17
ovos_utils>=0.0.6
mycroft @ git+https://github.com/hellochatterbox/mycroft-lib
